version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    commit-message:
      prefix: "deps"
      include: "scope"
    reviewers:
      - "erector666"
    assignees:
      - "erector666"
    labels:
      - "dependencies"
      - "security"
    security-updates-only: false